html {
  height: 100%;
}

body {
  display: flex;
  font-family: sans-serif;
  min-height: 100%;
}

aside {
  flex: 0.2;
  padding-right: 10px;
  border-right: 1px solid darkgray;
  font-size: small;
}

section {
  flex: 1;
  padding-left: 15px;
}

header > h1 {
  font-size: x-large;
}

.date {
  font-family: monospace;
}

code {
  color: maroon;
}

[id$="timeline"] #content > ul > li > p:first-child {
  font-weight: bold;
}
