html {
  min-height: 100%;
  display: grid;
}

body {
  display: grid;
  grid-gap: .5em;
  grid: "main aside" minmax(max-content, 100%) "footer footer" / auto 200px;
}

:root {
  --border: 1px solid lightgray;
}

@media (max-width: 768px) {
  body {
    grid: "main" minmax(max-content, 100%) "aside" "footer" / 100%;
  }
  ul {
    margin: 0;
  }
  li {
    margin: 20px auto;
  }
  aside>nav {
    display: grid;
    grid-gap: 0.1em;
    grid-template-columns: repeat(2, 1fr);
  }
  aside>nav>ul {
    border-bottom: 1px solid lightgray;
    margin-top: -10px;
  }
  aside>nav>ul:nth-child(odd) {
    border-right: 1px solid lightgray;
  }
  aside>nav li {
  }
}

body>* {
  border: 1px solid lightgray;
  padding: .5em;
}

body>main {
  grid-area: main;
}

body>aside {
  grid-area: aside;
}

body>footer {
  grid-area: footer;
}

h1 {
  margin-top: 0;
}

h1>.subject {
  color: gray;
}

article>nav {
  margin-top: 1em;
}

time {
  font-family: monospace;
}

a {
  word-break: break-all;
}

ul {
  padding-left: 1.5em;
  margin-top: 0;
}

li>ul {
  padding-left: .5em;
}

a.github {
  display: grid;
  align-items: center;
  font-size: .9em;
  grid: "image text" 1.5em / 2em max-content;
}

a.github>img {
  height: 100%;
}
